#section1 {
	color: #fff;
}

.fp-section {
	display: flex !important;
	justify-content: center !important;
	height: 100vh !important;
}

.fp-overflow {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
}

.slug {
	width: fit-content;
	box-sizing: border-box;
	padding: 1px 5px 1px 5px;
	border-radius: 5px;
	font-weight: 500;
	background-color: #e8e8e8;
}

.fp-watermark {
	display: none;
}

.fp-tooltip {
	font-family: 'TTNorms' !important;
	color: black !important;
}