$color-black: #212326;
$color-gray: #e0e0e0;
$color-light-gray: #e8e8e8;
$color-gray-text: #a8a8a8;
$color-error: #fb4e4e;
$color-error-background: #ffefef;
$color-background: #f3f3f3;
$color-link: #6363CE;